<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- CONTENEUR SPRING -->

    <!-- Création du conteneur Spring qui va gérer la servlet qui orchestre la cinématique France Connect et le filtrage des accès. -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <!-- Configuration du timeout de session à chaque création de session, via un listener d'évènements de session. -->
	<!-- Ce listener est déclaré après le ContextLoaderListener de Spring car il importe des paramètres de configuration de l'accès à France Connect
	     depuis le bean oidcAttributes créé dans le root context de Spring par le listener ContextLoaderListener.
	     Néanmoins, il n'y a pas de race-condition possible car l'accès au root context par le SessionListener ne se fait pas dans une méthode statique mais dans
	     une méthode invoquée au moment de la création d'une session et une session ne peut pas être créée avant la fin de la création de tous les listeners.
	     --> 
	<listener>
		<listener-class>net.fenyo.franceconnect.SessionListener</listener-class>
	</listener>

<!-- SERVLET SPRING MVC -->

	<!-- Création de la servlet de gestion de la cinématique France Connect. -->
	<servlet>
		<servlet-name>franceconnect</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Tous les accès au contexte sont gérés au travers de la servlet. -->
	<servlet-mapping>
		<servlet-name>franceconnect</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

<!-- FILTRE SPRING SECURITY -->

	<!-- Création du filtre des accès au contexte. -->
	<filter>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	     <init-param>
	        <param-name>contextAttribute</param-name>
	        <param-value>org.springframework.web.servlet.FrameworkServlet.CONTEXT.franceconnect</param-value>
	    </init-param>
	</filter>

	<!-- Tous les accès au contexte sont traités par le filtre. -->
	<filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
